eng/tf/logic_apps/getBooks.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "CallGoogleBooksApi": {
                "inputs": {
                    "method": "GET",
                    "uri": "https://www.googleapis.com/books/v1/volumes?q=isbn:@{variables('isbn')}"
                },
                "runAfter": {
                    "ExtractIsbn": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "ExtractAuthor": {
                "inputs": {
                    "variables": [
                        {
                            "name": "author",
                            "type": "string",
                            "value": "@{join(first(body('CallGoogleBooksApi')?['items'])?['volumeInfo']?['authors'], ',')}"
                        }
                    ]
                },
                "runAfter": {
                    "ExtractTitle": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "ExtractIsbn": {
                "inputs": {
                    "variables": [
                        {
                            "name": "isbn",
                            "type": "string",
                            "value": "@triggerOutputs()?['queries']?['isbn']"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "ExtractTitle": {
                "inputs": {
                    "variables": [
                        {
                            "name": "title",
                            "type": "string",
                            "value": "@{first(body('CallGoogleBooksApi')?['items'])?['volumeInfo']?['title']}"
                        }
                    ]
                },
                "runAfter": {
                    "CallGoogleBooksApi": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "SendResponse": {
                "inputs": {
                    "body": {
                        "author": "@variables('author')",
                        "title": "@variables('title')"
                    },
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "statusCode": "@outputs('CallGoogleBooksApi')['statusCode']"
                },
                "kind": "Http",
                "runAfter": {
                    "ExtractAuthor": [
                        "Succeeded"
                    ]
                },
                "type": "Response"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {},
        "triggers": {
            "manual": {
                "inputs": {
                    "method": "GET",
                    "schema": {}
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {}
}